#root {
  /* background-color: #282c34; */
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body, #root {
  height: 100%
}

#main-window {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 8px;
  border-radius: 13px;
}
